<html>
<head>
<script class="inline-scripts"></script>
<style class="inline-styles"></style>
</head>
<body>
{{{module 'modules/test2' data='modules/test2/settings.json' first="Curly"}}}
</body>
</html>