<html>
<head>
{{> meta }}
<!-- Inject Scripts -->
<!-- Inject Styles -->
</head>
<body>
{{ module-test2 first="Curly" data="greenhouse" }}
{{ module-test first="Curly" template="template" }}
{{#equal first "Curly" }}
<p>Helper loaded.</p>
{{/equal}}
</body>
</html>
