<!doctype html>
<html class='no-js' lang=''>
    <head>
        {% raw %}{{> meta }}{% endraw %}
        <!-- Inject Scripts -->
        <!-- Inject Styles -->
    </head>
    <body>
    {% raw %}{{ module-myModule }}{% endraw %}
    </body>
</html>
