<meta charset='utf-8'>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<title>Goodbye Intent</title>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale = 1.0, user-scalable = no"/>
<meta name="robots" content="NOODP"/>
<meta name="description" content="Bounce Exchange is a full-service behavioral automation platform that reacts to your visitors’ digital body language. BounceX invented exit intent technology."/>
<meta name="keywords" content="Exit Intent Cart Abandonment Email Capture Instant Cart Recovery Traffic Shaping Data Brain Customer Referral Promo echo Social Followers"/>
<meta name="author" content="web-author@bounceexchange.com"/>

<link rel='apple-touch-icon' href='apple-touch-icon-precomposed.png'>
<link rel='apple-touch-icon' href='apple-touch-icon-144x144-precomposed.png'>
